.page-template-template-commodities {
  .services {
    h2 {
      margin-bottom: 50px;
      text-transform: uppercase;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .module-content-accordion {

      > div {
        border-bottom: 1px solid $darkerblue;

        .accordion {
          color: $darkerblue;
          cursor: pointer;
          font-size: 18px;
          font-weight: $medium;
          letter-spacing: 2px;
          outline: none;
          padding: 20px 40px 20px 20px;
          text-align: left;
          text-transform: uppercase;
          transition: 0.4s;
          width: 100%;

          @media (max-width: 991px) {
            font-size: 16px;
            padding: 20px;
          }

          i {
            margin-left: 10px;
            transition: transform 0.2s ease;
          }

          &:hover {
            background: $lightgrey;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
          }

          &.active {
            border-bottom: 1px solid $darkerblue;

            i {

              transform: rotate(180deg);
              transition: transform 0.2s ease;
            }
          }
        }
      }

      .panel {
        background-color: $lightgrey;
        display: block;
        max-height: 0;
        overflow: hidden;
        padding: 0 35px;
        transition: max-height 0.15s ease-out;
        transition: padding 0.15s ease-out;

        p {
          font-size: 16px;
          font-weight: $regular;
          line-height: 32px;
        }
      }
    }
  }

  .loisirs {

    h2 {
      text-align: center;
    }

    .bg-grey {
      background: $lightgrey;
      padding: 70px;

      @media (max-width: 991px) {
        padding: 40px;
      }
    }

    ul {
      column-count: 3;
      list-style-type: disc;
      margin-left: 20px;

      @media (max-width: 1200px) and (min-width: 768px) {
        column-count: 2;
      }
      @media (max-width: 768px) {
        column-count: 1;
      }

      li {
        letter-spacing: 2px;
        line-height: 32px;

        @media (max-width: 991px) {
          letter-spacing: 1px;
        }
      }
    }
  }

  .outside {
    ul {
      list-style-type: disc;
      margin-left: 20px;

      li {
        letter-spacing: 2px;
        line-height: 32px;
      }
    }

    .texte {
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }

  .cta {
    background: $lightgrey;
    padding: 140px 0 100px;

    @media (max-width: 991px) {
      padding: 80px 0;
    }

    h2 {
      font-weight: $medium;
      margin-bottom: 80px;
      text-align: center;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }
}