.page-template-template-contact {
  .contact-info {
    padding: 120px 0 60px 0;

    @media (max-width: 991px) {
      padding: 80px 0;
    }

    .informations {
      border-bottom: 1px solid $darkerblue;
      display: grid;
      grid-template-columns: auto auto 160px;

      @media (max-width: 768px) {
        display: block;

        ul {
          padding-bottom: 20px;
        }
      }

      h5 {
        font-size: $h5;
        font-weight: $medium;
        margin-bottom: 20px;
      }
    }
  }

  .contact-form {
    .wpcf7 p {
      padding-bottom: 0;
    }

    .formulaire {
      @media(max-width: 991px) {
        padding-bottom: 80px;
      }
    }

    .wpcf7-form-control-wrap {

      input, textarea {
        border-bottom: 1px solid $darkerblue;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;
        color: $darkerblue;
        letter-spacing: 2px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
      }


      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $darkerblue;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $darkerblue;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $darkerblue;
      }


    }

    .btn:hover {
      background: $darkerblue;
    }

    .sidebar-text {
      margin-bottom: 55px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      p {
        padding-bottom: 50px;

        @media (max-width: 991px) {
          padding-bottom: 20px;
        }
      }

      .btn {
        float: none;
      }
    }

    .sidebar-img {
      img {
        max-width: 330px;
      }
    }
  }

  #googleMap {
    @media (max-width: 991px) {
      max-height: 450px;
    }
  }
}