.page-template-default {
  .default {
    padding: 150px 0;

    h2 {
      margin-bottom: 50px;
      text-transform: uppercase;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }
}