
iframe, #thumbnail, .media-video__video {
  background-position: center;
  background-size: cover;
  height: 500px;
  max-width: 100%;
  position: relative;
  width: 100%;

  @media (max-width: 991px) {
    height: 300px;
  }

  img {
    width: 97px;

    @media (max-width: 991px) {
      width: 50px;
    }
  }
}

.video-play-trigger {
  position: absolute;
}

.layoutArea {
  .column {
    margin-bottom: 20px;
  }

  strong {
    font-size: 14px;
    line-height: 16px;
  }
}

.sect-subtitle {
  font-weight: $regular;
}

.stats span {
  color: $white;
  float: right;
  font-size: 82px;
  font-weight: bold;
  padding-left: 10px;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

.milestone-counter {
  line-height: 90px;
}

.inline-facts h6 {
  font-weight: $bold;
  letter-spacing: 2px;
}

.presentation-first {

  .btn {
    margin-top: 30px;

    @media (max-width: 991px) {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

}

.alternating-sections {
  .btn {

    @media (max-width: 991px) {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

  .presentation-second {
    margin-top: 180px;

    @media (max-width: 991px) {
      margin-top: 80px;
    }

    .btn {
      margin-top: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
        margin-top: 0;
      }
    }

    img {
      min-height: 500px;
      object-fit: cover;
    }
  }
}

.presentation-first, .presentation-second {
  @media (min-width: 991px) {
    img {
      min-height: 600px;
      object-fit: cover;
    }
  }
}

.text-on-image {
  background: rgba(255, 255, 255, 0.75);
  bottom: 40px;
  left: 40px;
  max-width: 400px;
  position: absolute;
  right: 40px;
  top: 40px;

  &:before {
    background: $black;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 70px;
    width: 56px;
  }

  .page {
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    p {
      line-height: 32px;
    }

  }
}

.fullwidth-section {
  min-height: 550px;
}

.gallery {
  section {
    padding: 0;
  }

  .button-gallery {
    float: left;
    padding: 80px 0;
    text-align: center;
    width: 100%;

    a {
      float: none
    }
  }
}

/*------ Home -------------------------------------------------*/
.hero-wrap {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}

.hero-wrap .overlay {
  z-index: 2;
}

.hero-wrap-item {
  float: left;
  position: relative;
  width: 100%;
  z-index: 12;
}

.center-item {
  top: 50%;
  transform: translateY(-50%);

  img {
    margin: auto;
    max-width: 450px;

    @media (max-width: 500px) {
      max-width: 250px;
    }
  }
}

.nFound-page-wrap {
  top: 36%;
}

.hero-wrap-item h2 {
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 12;
}

.hero-wrap-item h3, .hero-wrap-item h3 a {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 18px;
  padding-left: 6px;
  text-transform: uppercase;
}

.hero-wrap-item h3 a {
  letter-spacing: 2px;
}

.nFound-Page {
  color: #fff;
  display: inline-table;
  font-size: 150px;
  text-transform: uppercase;
}

.hero-scroll-link {
  border: 1px solid rgba(255, 255, 255, 0.21);
  bottom: 50px;
  color: #fff;
  font-size: 12px;
  height: 40px;
  left: 50%;
  line-height: 40px;
  margin-left: -20px;
  position: absolute;
  width: 40px;
  z-index: 9;
}

.hero-wrap-image-slider-holder, .slideshow-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hero-wrap-image-slider, .hero-wrap-text-slider-holder, .hero-wrap-text-slider, .hero-wrap-text-slider-holder {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
}

.hero-wrap-image-slider-holder {
  background: #000;
}

.hero-wrap-text-slider-holder {
  z-index: 3;
}

.hero-link {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  display: inline-table;
  margin-top: 30px;
  padding: 10px 6px;
}

.hero-link:hover {
  color: rgba(255, 255, 255, 0.51)
}

.media-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.video-mask {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mob-bg {
  display: none;
}

.video-holder {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-holder iframe {
  display: block;
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: -75px;
  width: 100%;
}

.fullwidth-slider-holder, .single-slider-holder {
  float: left;
  position: relative;
  width: 100%;
}

.fullwidth-slider-holder .item {
  position: relative;
}

.full-width-holder {
  float: left;
  position: relative;
  width: 100%;
}

.single-slider-holder {
  margin-bottom: 20px;
}

.single-slider .item {
  position: relative;
}

article {
  float: left;
  margin-top: 10px;
  position: relative;
  width: 100%;
}