.page-template-template-map {
  .map {
    padding: 150px 0;
    @media (max-width: 1036px) {
      padding: 80px 0;
    }

    h2 {
      margin-bottom: 50px;
      text-transform: uppercase;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    .imagemappro
    {
      max-width: 1200px;
      margin: auto;

      @media (max-width: 1000px) {
        display:none;
      }
    }
    .accordion_mobile
    {
      @media (min-width: 1000px) {
        display:none;
      }
    }
    .module-content-accordion {



      > div {

        margin-bottom:10px;

        .accordion-plan {
          color: $white;
          background: $beige;
          cursor: pointer;
          font-size: 18px;
          font-weight: $medium;
          letter-spacing: 2px;
          outline: none;
          padding: 20px 40px 20px 20px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.4s;
          width: 100%;

          @media (max-width: 991px) {
            font-size: 16px;
            padding: 20px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }

      .panel {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
        transition: padding 0.15s ease-out;

        div {
          display: grid;
          grid-template-columns: 33% 33% 33%;
          padding: 15px;

          &:nth-child(2n) {
            background: $othergrey;
          }
        }

        p {
          font-size: 16px;
          font-weight: $regular;
          line-height: 32px;
          padding:0;
        }

        a:hover {
          color: $black;
          text-decoration: underline;
          transition: all 0.3s;
        }
        a:before
        {
          content:none;
        }
      }
    }
  }
}