.plan {
  @media (min-width: 991px) {
    p {
      line-height: 32px;
    }
  }

  @media (max-width: 991px) {
    #thumbnail {
      background-color: #ededed;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}