.page-template-template-quartier {
  .quartier-video {
    margin: auto;
    margin-bottom: 50px;
    max-width: 800px;

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

    h2, p {
      text-align: center;
    }

  }

  .module-video-thumbnail {
    width: 100%;

    a:before {
      height: 0;
    }
  }

  .quartier-map {
    padding-bottom: 180px;

    @media only screen and (max-width: 1036px) {
      padding-bottom: 50px;
    }

    .background-darkerblue {
      background: $darkerblue;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 60px;

      h2.white {
        color: $white;
      }

      ul {
        list-style-type: disc;
        margin-left: 20px;

        li {
          letter-spacing: 2px;
          line-height: 32px;
        }
      }
    }

    div#googleMap {
      @media only screen and (max-width: 991px) {
        max-height: 400px;
      }
    }
  }
}