.page-template-template-visite {
  .visite-intro {
    padding: 120px 0 60px 0;
    @media (max-width: 991px) {
      border-bottom: 1px solid $white;
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  .unite {
    padding-bottom: 180px;

    @media (max-width: 991px) {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      padding-bottom: 80px;

      .btn
      {
        margin-bottom: 0;
      }
    }

    h2 {
      font-weight: $medium;
    }

    h3 {
      font-weight: $light;
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    ul {
      list-style-type: disc;
      margin-bottom: 60px;
      margin-left: 20px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      li {
        letter-spacing: 2px;
        line-height: 32px;
      }
    }
  }

  .galerie {
    padding-bottom: 80px;

    @media (max-width: 991px) {
      border-top:1px solid $white;
    }
    h2 {
      text-align: center;
    }

    .owl-item {
      .under {
        padding: 50px 0 0 0;

        .legende, .description {
          text-align: center;
        }

        .legende {
          font-size: 26px;
          font-weight: 300;
          padding-bottom: 5px;
        }

        .description {
          font-size: 20px;
          padding-bottom: 0;
        }
      }
    }
  }
}