footer {
  &.content-footer {
    h5 {
      margin-bottom: 20px;

    }

    div.wpcf7,form.newsletter {
      p
      {
        max-width: 100%;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }
      input[type="text"], input[type="email"] {
        -webkit-appearance: none;
        background: none;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
        border-radius: 0;
        color: $white;
        float: left;
        font-size: 14px;
        font-weight: 300;
        height: 50px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        padding-left: 8px;
        position: relative;
        width: 46%;
        z-index: 20;
      }

      input[type="text"] {
        margin-right: 20px;
      }

      input[type="submit"] {
        width: 98%;
      }
    }

    .footer-item {
      li, p {
        font-weight: $regular;
        letter-spacing: 2px;
      }
    }
  }
}

/*------ footer  ------------------------------------------------*/
footer.fixed-footer {
  background: $darkerblue;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 80px;
  z-index: 6;
}

.height-emulator {
  float: left;
  position: relative;
  width: 100%;
  z-index: -1;
}

footer.fixed-footer .footer-social {
  bottom: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

footer.fixed-footer .footer-social:before {
  background: rgba(255, 255, 255, 0.21);
  content: '';
  height: 1px;
  left: 15px;
  position: absolute;
  top: -20px;
  width: 50px;
}

footer.fixed-footer .footer-social li {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

footer.fixed-footer .footer-social li a {
  color: #fff;
  font-size: 14px;
}

footer.fixed-footer .footer-social li a:hover {
  color: rgba(255, 255, 255, 0.51)
}

.content-footer {
  background: $darkerblue;
  bottom: 0;
  left: 0;
  padding: 90px 20px 90px 80px;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.content-footer:before {
  background-image: url(../images/bg-dec.png);
  background-repeat: repeat-y;
  content: '';
  display: block;
  height: 100%;
  left: 122px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 7px;
  z-index: 20;
}

.footer-title {
  cursor: default;
  padding-top: 30px;
  position: fixed;
  top: 220px;
  transform: rotate(-90deg);
  transform-origin: left top;
  width: 140px;
  z-index: 12;

  .button {
    font-family: $poppins;
    font-size: 14px;
    font-weight: $regular;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &:before {
    background: rgba(255, 255, 255, 0.21);
    bottom: -13px;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    width: 1px;
  }
}

.footer-title h2 {
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-title a {
  color: #fff;
  padding: 10px 15px;
  position: relative;
  transition: all 200ms linear;
  z-index: 3;

  &:hover {
    text-decoration: none;
  }

  &:before {
    background: $transparentwhite;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 10px;
    position: absolute;
    transition: all 0.3s;
    width: 0;
  }

  &:hover:before {
    transition: all 0.3s;
    width: 38px;
  }
}

.footer-item {
  color: #fff;
  float: left;
  text-align: left;
  width: 100%;
}

.footer-item h4 {
  margin-bottom: 30px;
  width: 100%;
}

.footer-item p, .footer-item span, .footer-item ul li a {
  color: $white;
  font-size: 14px;
}

.footer-item ul li {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

.footer-item span, .footer-item ul li a {
  text-transform: uppercase;
}

.footer-item span {
  letter-spacing: 1px;
}

.footer-item .text-link {
  color: #fff;
}

.footer-item .text-link:before {
  background: #fff;
}

.footer-logo img {
  margin-bottom: 20px;
}

.footer-logo p {
  max-width: 300px;
}

.footer-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.21);
  display: flex;
  float: left;
  justify-content: space-between;
  margin-top: 55px;
  padding-top: 25px;
  position: relative;
  width: 100%;

  @media (max-width: 1200px) {
    display: block;
    float: none;
    margin-top: 18px;
    text-align: left;

    .copyright {
      display: block;
      float: none;
      margin-bottom: 20px;
    }
  }

  span, a {
    color: #fff;
    font-family: $poppins;
    font-size: 13px;
  }
}

.footer-wrap.tth:before {
  right: 0;
}

.copyright {
  color: #fff;
  float: left;
  font-family: $poppins;
  font-size: 13px;
  text-align: left;
}

.to-top {
  background: url('../assets/svg/fleche.svg');
  bottom: 80px;
  cursor: pointer;
  height: 40px;
  opacity: 0;
  position: fixed;
  right: 5%;
  transition: all 0.5s;
  width: 40px;
  z-index: 2;

  &.show {
    opacity: 1;
    transition: all 0.5s;
  }

  &.sticky {
    position: absolute;
  }
}

#to-top-stop {
  height: 40px;
  padding: 65px 0;
  position: absolute;
  top: -130px;
}