/*------ Header  ------------------------------------------------*/
header {
  background: $darkerblue;
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  width: 70%;
  z-index: 20;

  .logo-holder {
    float: left;
    position: relative;
    top: 12px;
    width: 40px;
    z-index: 21;

    img {
      height: auto;
      max-height: 55px;
      width: 100%;
    }
  }

  .current_page_item:before {
    background: $transparentwhite;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 10px;
    position: absolute;
    width: 48px;
  }
}

.fw-head {
  width: 100%;
}

header:before {
  background: rgba(255, 255, 255, 0.21);
  bottom: 0;
  content: '';
  height: 1px;
  left: 15px;
  position: absolute;
  transition: all 500ms linear;
  width: 50px;

  @media (max-width: 1036px) {
    height: 0;
  }
}

.vis-header-b:before {
  width: 97%;
}

.header-inner {
  float: left;
  padding-left: 80px;

  a:before {
    height: 0;
  }
}

.dynamic-title {
  display: none;
}

/*------ navigation  ------------------------------------------------*/
.nav-holder {
  float: right;
  position: relative;
  top: 22px;
  z-index: 1000;
}

nav {
  float: left;
  position: relative;
  width: 100%;

  ul {
    margin-left: 20px;

    li:last-child {
      display: none;
    }
  }

  li {
    float: left;
    position: relative;

    &:before {
      background: $transparentwhite;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 10px;
      position: absolute;
      transition: all 0.3s;
      width: 0;
    }

    &:hover:before {
      transition: all 0.3s;
      width: 38px;
    }

    ul {
      background: rgba(0, 0, 0, 0.91);
      left: 0;
      margin: 30px 0 0 0;
      min-width: 190px;
      opacity: 0;
      padding-bottom: 20px;
      padding-top: 58px;
      position: absolute;
      transition: all .2s ease-in-out;
      visibility: hidden;
      z-index: 0;

      &:before {
        background: rgba(255, 255, 255, 0.21);
        bottom: 12px;
        content: '';
        height: 1px;
        left: 10px;
        position: absolute;
        right: 10px;
      }

      a {
        font-weight: 300;
        padding: 9px 12px;
        text-align: left;
        width: 100%;

        &:before {
          display: none;
        }

        &.act-link {
          color: $black;
          font-weight: 600;
        }
      }

      li {
        border: 0;
        display: block;
        float: none;

        &:hover > ul {
          left: 100%;
          opacity: 1;
          visibility: visible;
        }

        ul {
          left: 100%;
          padding-top: 10px;
          top: 0;
        }
      }
    }

    &:hover > ul {
      margin: 0;
      opacity: 1;
      visibility: visible;
    }

    a {
      color: $white;
      float: left;
      font-family: $poppins;
      font-size: 14px;
      font-weight: $regular;
      letter-spacing: 2px;
      line-height: 1;
      padding: 10px 15px;
      position: relative;
      text-transform: uppercase;
      transition: all 100ms linear;
      z-index: 2;

      &:before {
        content: '';
        height: 0;
        width: 0;
      }

      &.act-link:before {
        width: 25px;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.61);
      }
    }
  }
}

nav li a:hover {
  text-decoration: none;
}

/*------ Page title  ------------------------------------------------*/
.page-title {
  float: left;
  position: relative;
  width: 100%;
  z-index: 5;
}

.background-header {
  background-size: cover;

  section {
    padding: 220px 0 140px 0;
    @media only screen and (max-width: 1036px) {
      padding: 50px 0;
    }
  }

  .overlay {
    opacity: 0.5;
  }
}

.page-title .creat-list a:before {
  background: #fff;
}

.page-title .creat-list {
  position: relative;
  top: 20px;
}

.parallax-section .page-title, .parallax-section .creat-list a {
  color: #fff;
}

.page-title h2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  float: left;
  font-size: $h2;
  font-weight: $medium;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.parallax-section .page-title {
  color: #fff;
}

.page-title h2 strong {
  font-weight: bold;
}