
/* ---------Page preload--------------------------------------*/
.loader {
  position:fixed;
  top:50% !important;
  left:50%;
  width:105px;
  height:8px;
  z-index:100;
  font-size:34px;
  opacity:0.8;
  margin:-4px 0 0 -53px;
}
#movingBallG{
  position:relative;
  width:105px;
  height:8px;
}
.movingBallLineG{
  position:absolute;
  left:0px;
  top:3px;
  height:1px;
  width:105px;
  background:rgba(255,255,255,0.21);
}
.movingBallG{
  background:#fff;
  position:absolute;
  top:0;
  left:0;
  width:8px;
  height:8px;
  border-radius:4px;
  animation-name:bounce_movingBallG;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}
@keyframes bounce_movingBallG{
  0%{
    left:0px;
  }
  50%{
    left:97px;
  }
  100%{
    left:0px;
  }
}