@charset "utf-8";

/*-------------Import fonts ---------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Poppins:500,600,400,300,200,100,400italic,700,900|Muli&subset=latin,vietnamese,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek);
/*-------------General Style---------------------------------------*/
html {
  height: 100%;
  overflow-x: hidden !important;
}

body {
  background: $darkerblue;
  color: #000;
  font-family: $poppins;
  font-size: $p;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100%;
  line-height: $lh-p;
  margin: 0;
  padding: 0;
  text-align: center;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*--------------Typography--------------------------------------*/
h1 {
  font-size: 4.46666666667em;
  font-weight: 400;
  line-height: 1.17em;
  text-transform: uppercase;
}

h2 {
  color: $darkblue;
  font-size: $h2;
  font-weight: 300;
  line-height: $lh-h2;
}

h3 {
  color: $darkblue;
  font-family: $poppins;
  font-size: $h3;
  font-weight: $regular;
}

h4 {
  font-family: $poppins;
  font-size: $h4;
  font-weight: $regular;
}

h5 {
  font-family: $poppins;
  font-size: $h5;
  font-weight: $regular;
}

h6 {
  font-size: 0.6em;
  font-weight: 200;
}

p {
  font-size: $p;
  line-height: $lh-p;
  padding-bottom: 20px;
  text-align: left;
}

strong {
  font-weight: $bold;
}

blockquote {
  border-left: 15px solid #eee;
  float: left;
  font-size: 17.5px;
  margin: 0 0 20px;
  padding: 10px 20px;
}

blockquote p {
  color: #494949;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

a:before {
  background: $grey;
  bottom: -10px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.3s;
  width: 0;
}

a:hover:before {
  transition: all 0.3s;
  width: 38px;
}

a:hover {
  color: $grey;
  text-decoration: none;
  transition: all 0.3s;
}

a {
  transition: all 0.3s;
}

/* ---------Content Styles--------------------------------------*/
#main {
  float: left;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#wrapper {
  height: 100%;
  left: 0;
  margin-left: 0;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
  width: 100%;
  z-index: 2;
}

.content-holder {
  height: 100%;
  left: 0;
  padding: 0 0 0 80px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 400ms linear;
  vertical-align: top;
  z-index: 2;
}

.container {
  margin: 0 auto;
  max-width: 1513px;
  position: relative;
  width: 92%;
  z-index: 2;
}

.content {
  background: #fff;
  float: left;
  position: relative;
  width: 100%;
  z-index: 1000;

  .page-content & {
    text-align: left;
  }
}

.pad-con {
  padding-top: 80px;
}

.content:before {
  background-image: url(../images/bg-dec.png);
  background-repeat: repeat-y;
  content: '';
  display: block;
  height: 100%;
  left: 42px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 7px;
  z-index: 20;
}

.no-bg-con:before {
  display: none;
}

.dark-bg {
  background: #1B1B1B;
}

.dark-bg .overlay {
  opacity: 0.5;
}

.full-height {
  height: 100%;
}

.parallax-inner {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.parallax-inner .bg {
  height: 150%;
  top: -25%;
}

.bg {
  background-attachment: scroll;
  background-origin: content-box;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-height-parallax {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.respimg {
  height: auto;
  width: 100%;
}

.overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

section {
  float: left;
  overflow: hidden;
  padding: 180px 0;
  position: relative;
  width: 100%;

  .services & {
    padding: 120px 0;

    @media (max-width: 991px) {
      padding: 80px 0;
    }
  }
}

.parallax-section {
  padding: 250px 0;
}

.align-text {
  text-align: left;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

.btn {
  background: $beige;
  border: 0;
  border-radius: 0;
  color: $white;
  float: left;
  font-size: 14px;
  font-weight: $medium;
  letter-spacing: 2px;
  line-height: 16px;
  min-width: 200px;
  padding: 12px 23px;
  transition: all 400ms linear;
}

.btn:before {
  background: $darkerblue;
  border: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 200ms linear;
  -webkit-transition-delay: 200ms; /* Safari */
  transition-delay: 200ms;
  width: 0;
}

.btn:hover:before {
  width: 100%;
}

.btn:hover {
  color: #fff;
}

.anim-button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  overflow: hidden;
  vertical-align: middle;
  width: auto;
}

.anim-button i {
  font-size: 16px;
  height: 100%;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center !important;
  top: -100%;
  width: 100%;
}

.wt-btn {
  border: 2px solid #fff;
  color: #fff;
}

.anim-button i, .anim-button span {
  transition: all 200ms linear;
}

.anim-button span {
  float: left;
  position: relative;
  top: 0;
  width: 100%;
}

.anim-button:hover span {
  top: 100px;
}

.anim-button:hover i {
  top: 0;
}

.custom-link-holder {
  float: left;
  margin-top: 50px;
  padding-top: 50px;
  position: relative;
  width: 100%;
}

.custom-link-holder:before {
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.custom-link-holder a {
  display: inline-table;
  float: none;
}

.parallax-item, .paralax-media {
  float: left;
  position: relative;
  width: 100%;
}

.parallax-item {
  margin-bottom: 70px;
}

.parallax-deck {
  bottom: 0;
  padding: 50px;
  position: absolute;
  z-index: 3;
}

.left-direction .parallax-deck {
  right: -30%;
}

.right-direction .parallax-deck {
  left: -30%;
}

.parallax-deck-item {
  float: left;
  max-width: 550px;
}

.paralax-wrap {
  float: left;
  opacity: 0.6;
  padding-top: 50px;
  width: 100%;
}

.parallax-deck-item h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  float: left;
  font-size: 50px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 40px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.parallax-deck-item h3:before {
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: -50px;
  width: 50px;
}

.parallax-deck-item h3 strong {
  font-weight: bold;
}

.parallax-box {
  float: left;
  left: -20%;
  position: relative;
  width: 100%;
  z-index: -1;
}

.parallax-box.slider-box {
  z-index: 3;
}

.parallax-box.r-align {
  left: 20%;
}

.parallax-box img {
  opacity: 0.6;
}

.parallax-box.slider-box img {
  opacity: 1;
}

.parallax-dec {
  border: 2px solid #000;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  right: -30px;
  top: -30px;
  width: 100%;
  z-index: -1;
}

.section-title {
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.section-title.dec-title {
  padding-bottom: 50px;
}

.section-title.dec-title span {
  position: relative;
}

.section-title.dec-title span:before {
  background: #000;
  bottom: -50px;
  content: '';
  height: 8px;
  left: 0;
  position: absolute;
  width: 80px;
}

.algn-right {
  text-align: right;
}

.dark-bg .section-title, .dark-bg {
  color: #fff;
}


.particular {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* ---------responsive iframes--------------------------------------*/
.resp-video {
  height: 0;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.resp-video iframe,
.resp-video object,
.resp-video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*------item hover ------------------------------------------------*/
.box-item {
  float: left;
  width: 100%;
}

.box-item a {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.box-item a img, .serv-item img {
  position: relative;
  transition: all 4000ms cubic-bezier(.19, 1, .22, 1) 0ms;
  z-index: 1;
}

.box-item a .overlay {
  opacity: 0;
  transition: all 200ms linear;
  z-index: 2;
}

.box-item a:hover .overlay {
  opacity: 0.3;
}

.box-item a:hover img {
  transform: scale(1.05);
}