/*------ services  ------------------------------------------------*/
.services-holder {
  border-bottom: 1px solid #eee;
  float: left;
  margin-top: 60px;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}

.serv-item {
  float: left;
  overflow: hidden;
  padding: 10px 20px 10px 0;
  position: relative;
  width: 50%;
}

.serv-item img {
  height: auto;
  position: relative;
  width: 100%;
}

.serv-item-inner {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.serv-item-inner:before {
  background: rgba(0, 0, 0, 0.21);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.act-ser .serv-item-inner:before {
  background: rgba(0, 0, 0, 0.41);
}

.ser-title {
  bottom: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.act-ser .ser-title {
  bottom: 50px;
}

.ser-title h3 {
  color: #fff;
  display: inline-table;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}

.ser-title h3:before {
  background: #fff;
  background: #fff;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 100%;
}

.act-ser .ser-title h3:before {
  width: 0;
}

.serv-post {
  float: left;
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.serv-details {
  display: none;
  float: left;
  position: relative;
  text-align: left;
  width: 100%;
}

.serv-details h3 {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ser-list {
  float: left;
  list-style: circle;
  padding: 10px 0 10px 14px;
  width: 100%;
}

.ser-list li {
  color: #000;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 4px;
  padding-left: 10px;
  width: 100%;
}

.price {
  background: #f9f9f9;
  border: 2px solid #000;
  float: left;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 10px 14px;
  text-transform: uppercase;
}

.serv-item:hover img {
  transform: scale(1.05);
}

/*------ Porfolio  ------------------------------------------------*/
.gallery-items {
  background: #fff;
  float: left;
  position: relative;
  width: 100%;
}

.gallery-items a {
  cursor: pointer;
}

.grid-item-holder {
  float: left;
  height: auto;
  padding: 2px;
  position: relative;
  width: 100%;
}

.gallery-item, .grid-sizer {
  float: left;
  overflow: hidden;
  position: relative;
  width: 25%;
}

.gallery-item-second,
.grid-sizer-second {
  width: 50%;
}

.gallery-item-three,
.grid-sizer-three {
  width: 75%;
}

.three-columns .gallery-item {
  width: 33.3%;
}

.three-columns .gallery-item-second,
.three-columns .grid-sizer-second {
  width: 66.6%;
}

.five-columns .gallery-item {
  width: 20%;
}

.five-columns .gallery-item-second,
.five-columns.grid-sizer-second {
  width: 40%;
}

.gallery-item img, .grid-sizer img {
  height: auto;
  position: relative;
  transform: translateZ(0);
  width: 100%;
  z-index: 2;
}

.four-coulms .gallery-item, .four-coulms .grid-sizer {
  width: 25%;
}

.three-coulms .gallery-item, .three-coulms .grid-sizer {
  width: 33.33333%;
}

.three-coulms .gallery-item-second {
  width: 66.66666%;
}

.port-desc-holder {
  bottom: 0;
  left: 2px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms linear;
  z-index: 22;
}

.port-desc-holder:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); /* W3C */
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 3px;
  top: 0;
}

.horizontal_item .port-desc-holder:before {
  opacity: 0.4;
}

.horizontal_item .port-desc {
  padding-bottom: 30px;
}

.horizontal_item .port-desc h3 {
  font-size: 22px;
  text-transform: none;
}

.gallery-item .port-desc-holder:before {
  bottom: 3px;
  right: 3px;
}

.port-desc {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.portfolio_item:hover .port-desc-holder, .gallery-item:hover .port-desc-holder {
  opacity: 1;
}

.port-desc-holder .grid-item h3:hover {
  opacity: 0.8;
}

.grid-item {
  float: left;
  overflow: hidden;
  padding: 30px;
  width: 100%;
}

.grid-item h3 {
  color: #fff;
  float: left;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  z-index: 20;
}

.grid-item h3 a {
  color: #fff;
}

.grid-item span {
  color: #fff;
  float: left;
  font-size: 10px;
  margin-top: 10px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.grid-item h3, .grid-item span {
  opacity: 0;
}

.inline-filter {
  float: left;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}

.inline-filter .gallery-filters {
  float: left;
}

.inline-filter .gallery-filters a {
  color: #000;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 12px;
  margin-right: 15px;
  padding-left: 30px;
  padding-left: 63px;
  position: relative;
  text-transform: uppercase;
}

.inline-filter .gallery-filters a:before {
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  transition: all 200ms linear;
  width: 40px;
}

.inline-filter .gallery-filters a.gallery-filter_active:before {
  transform: rotate(45deg);
}

.inline-filter .count-folio {
  color: #000;
  float: right;
}

.inline-filter .count-folio div {
  display: inline-table;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
}

.inline-filter .count-folio div:before {
  color: #ccc;
  content: '/';
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: -2px;
}

.inline-filter .count-folio div:first-child:before {
  display: none;
}

.round-filter {
  background: #000;
  bottom: 30px;
  padding: 15px 19px;
  position: fixed;
  right: 5px;
  width: 250px;
  z-index: 130;
}

.round-filter:before {
  background: rgba(0, 0, 0, 0.21);
  bottom: 0;
  content: '';
  left: -10px;
  position: absolute;
  right: 0;
  top: -10px;
}

.ver-filter {
  bottom: 0;
}

.tcf {
  bottom: 32px;
}

.filter-button {
  border: 1px solid rgba(255, 255, 255, 0.21);
  color: #fff;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 15px;
  position: relative;
}

.round-counter {
  color: #fff;
  float: right;
  position: relative;
  top: 6px;
}

.round-counter:after {
  background: rgba(255, 255, 255, 0.41);
  content: '';
  height: 1px;
  left: -40px;
  position: absolute;
  top: 50%;
  width: 30px;
}

.round-counter:before {
  color: #fff;
  content: '/';
  font-size: 16px;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: -2px;
}

.round-counter div {
  color: #fff;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  margin: 0 10px;
}

.hid-filter {
  display: none;
  float: left;
  padding-bottom: 20px;
  position: relative;
}

.hid-filter a {
  color: #ccc;
  float: left;
  font-size: 12px;
  padding: 4px 10px 4px 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.hid-filter a.gallery-filter_active {
  color: #fff;
}

.float-filters {
  float: left;
  position: relative;
  top: 15px;
}

.p_horizontal_wrap {
  background: #fff;
  float: left;
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
}

.hpw {
  padding: 0 5px;
}

.visfilb {
  opacity: 0.6;
}

.pr-wrap {
  float: left;
  position: relative;
  width: 100%;
}

#portfolio_horizontal_container {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
}

#portfolio_horizontal_container .portfolio_item {
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 6px 3px;
  position: relative;
  width: auto;
  z-index: 1;
}

#portfolio_horizontal_container.no-padding .portfolio_item {
  padding: 0
}

#portfolio_horizontal_container.two-ver-columns .portfolio_item {
  height: 50%;
}

#portfolio_horizontal_container.three-ver-columns .portfolio_item {
  height: 33.3%;
}

#portfolio_horizontal_container .portfolio_item img {
  float: left;
  height: 100%;
  position: relative;
  width: auto;
  z-index: 1;

}

.no-bg {
  background: none !important
}

.vis-port-info .grid-item:before, .vis-port-info .grid-item:after {
  display: none;
}

.vis-port-info .grid-item h3, .vis-port-info .grid-item span {
  opacity: 1;
}

.grid-item-holder:hover .grid-item h3, .grid-item-holder:hover .grid-item span, .port-desc-holder:hover .grid-item span, .port-desc-holder:hover .grid-item h3, .horizontal_item:hover .grid-item span, .horizontal_item:hover .grid-item h3 {
  opacity: 1;
}

.portfolio_item:hover .grid-item span {
  opacity: 0.7;
}

.st-3 .grid-item-holder a img, .gallery-item img, .grid-sizer img, .grid-item h3, .grid-item span, .ser-title h3:before, .ser-title {
  transition: all 300ms linear;
}

.box-gal .col-md-6 {
  cursor: pointer;
  padding-bottom: 25px;
}

.full-screen-gallery-holder {
  float: left;
  position: relative;
  width: 100%;
}

.full-screen-item {
  position: relative;
}

.customNavigation a {
  cursor: pointer;
  height: 75px;
  line-height: 75px;
  margin-top: -37px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 200ms linear;
  width: 75px;
  z-index: 20;

  @media (max-width: 991px) {
    height: 40px;
    width: 40px;
  }
}

.customNavigation a:before {
  height: 0;
}

.customNavigation a.next-slide {
  right: 50px;
}

.customNavigation a.prev-slide {
  left: 50px;
}

.customNavigation.ssn a.next-slide {
  background: url('../assets/svg/arrow.svg');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 50px;
  padding: 10px;
  right: 17%;
  transform: rotate(180deg);

  @media (max-width: 991px) {
    background-size: 14px 20px;
    right: 0%;
  }
}

.customNavigation.ssn a.prev-slide {
  background: url('../assets/svg/arrow.svg');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 50px;
  left: 17%;
  padding: 10px;
  @media (max-width: 991px) {
    background-size: 14px 20px;
    left: 0%;
  }
}

.customNavigation a:hover {
  opacity: 1;
}

.customNavigation a i {
  transition: all 500ms linear;
}

.customNavigation a:hover i {
  transform: rotateX(360deg);
}

.slider-zoom {
  background: rgba(0, 0, 0, 0.11);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  line-height: 40px;
  position: absolute;
  right: 50px;
  text-align: center;
  top: 50px;
  width: 35px;
  z-index: 10;
}

.slider-zoom i, .slider-zoom:before, .slider-zoom:after, .slider-zoom, .herolink {
  transition: all 200ms linear;
}

.slider-zoom:before, .slider-zoom:after {
  content: '';
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: -1;
}

.slider-zoom:before {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  left: 0;
  top: 0;
}

.slider-zoom:after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 0;
  right: 0;
}

.slider-zoom:hover:before {
  left: -5px;
  top: -5px;
}

.slider-zoom:hover:after {
  bottom: -5px;
  right: -5px;
}

.slider-zoom:hover i {
  transform: rotate(90deg);
}

.nicescroll-rails {
  height: 30px !important;
}

.nicescroll-rails-hr:before {
  //background: repeat-x center url(../images/bg-dec2.png);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.nicescroll-cursors {
  top: 10px !important;
}

.caption {
  float: left;
  padding-left: 40px;
  position: relative;
}

.caption.cap-column {
  margin-left: 62px;
}

.caption:before {
  background: #000;
  content: "";
  height: 1px;
  left: -40px;
  position: absolute;
  top: 55%;
  width: 50px;
}

.caption h4 {
  color: #000;
  float: left;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  padding-bottom: 6px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.caption p {
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
}

.caption.fixed-caption {
  bottom: 150px;
  left: 150px;
  position: absolute;
  z-index: 40;
}

.fix-con-panel {
  background: #000;
  border-radius: 4px;
  bottom: 50px;
  color: #fff;
  padding: 12px 20px;
  position: fixed;
  right: 30px;
  z-index: 20;
}

.hid-con-panel {
  cursor: pointer;
  float: left;
}

.fix-con-panel a, .fix-con-panel span, .vis-con-panel {
  transition: all 300ms linear;
}

.fix-con-panel a:hover, .fix-con-panel span:hover {
  opacity: 0.6;
}

.fix-con-panel a, .fix-con-panel span {
  border: 1px solid rgba(255, 255, 255, 0.21);
  color: #fff;
  float: left;
  font-size: 10px;
  margin-left: 30px;
  padding: 6px 10px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
}

.fix-con-panel span {
  margin-left: 0;
  margin-right: 10px;
}

.fix-con-panel a:before {
  color: #ccc;
  content: '/';
  left: -20px;
  position: absolute;
  top: 5px;
}

.control-panel {
  background: #fff;
  bottom: 0;
  height: 100px;
  left: 0;
  padding: 0 30px 0 32px;
  position: absolute;
  width: 100%;
  z-index: 19;
}

.control-panel:before {
  // background: repeat-x center url(../images/bg-dec2.png);
  bottom: 2px;
  content: '';
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}

.control-panel .btn {
  float: right;
  margin-top: 26px;
}

.vis-con-panel {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  padding: 14px 26px;
  position: relative;
  top: 26px;
  transition: all 300ms linear;
}

.vis-con-panel.dark-btn {
  background: #000;
  border: 0;
  color: #fff;
  font-size: 11px;
}

.vis-con-panel:hover {
  border-color: #ccc;
}

.vis-con-panel.dark-btn:hover {
  color: rgba(153, 153, 153, 0.61);
}

.vis-con-panel:before {
  color: #000;
  content: '/';
  font-size: 16px;
  position: absolute;
  right: -26px;
  top: 8px;
}

.vis-con-panel.dark-btn:before {
  display: none;
}

.owl-thumbs {
  background: #fff;
  bottom: 60px;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 90px 200px 200px 200px;
  position: fixed;
  top: 60px;
  transition: all 300ms linear;
  visibility: hidden;
  width: 100%;
  z-index: 30;
}

.fhgal .owl-thumbs {
  bottom: 0;
}

.fhgal {
  padding-left: 10px;
}

.vis-thumbs {
  opacity: 1;
  visibility: visible;
}

.owl-thumb-item {
  background: none;
  border: none;
  cursor: pointer;
  float: left;
  opacity: 1;
  opacity: 0;
  padding: 10px;
  position: relative;
  transition: all 200ms linear;
}

.owl-thumb-item:before {
  background: #fff;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 500ms linear;
  width: 100%;
  z-index: 2;
}

.himask:before {
  width: 0;
}

.owl-thumb-item.himask {
  opacity: 1;
}

.owl-thumb-item.active {
  opacity: 0.3;
}

.owl-thumb-item img {
  height: 150px;
  width: auto;
}

.gallery_horizontal {
  float: left;
  padding-top: 10px;
  position: relative;
  width: 100%;
}

.gallery_horizontal.fh-wr {
  padding-top: 10px;
}

.gallery_horizontal .owl-item img {
  position: relative;
  width: auto;
  z-index: 1;
}

.horizontal_item {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.gallery_horizontal {
  background: #f9f9f9;
}

.flow-gallery .horizontal_item {
  opacity: 0.6;
  transform: scale(0.65);
  transition: all 500ms linear;
  transition-delay: 300ms;
}

.flow-gallery .owl-item.center .horizontal_item {
  opacity: 1;
  transform: scale(1.0);
}

.portfolio_item, .horizontal_item {
  cursor: e-resize;
}

.resize-carousel-holder {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
}

.fl-l {
  float: left;
}

.flow-gallery:before {
  background: #eee;
  content: '';
  height: 1px;
  left: 0;
  margin-top: 43px;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  width: 100%;
}

.show-info {
  bottom: 50px;
  left: 50px;
  position: absolute;
  width: 80%;
  z-index: 15;
}

.show-info span {
  background: rgba(0, 0, 0, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.21);
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 10px;
  padding: 6px 12px;
  text-transform: uppercase;
  transition: all 300ms linear;
}

.tooltip-info {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  font-size: 11px;
  height: auto;
  left: 0;
  line-height: 20px;
  margin-bottom: 40px;
  opacity: 0;
  padding: 10px 20px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-indent: 0px;
  transition: all 300ms linear;
  visibility: hidden;
  z-index: 16;
}

.tooltip-info p {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  //word-spacing: no-wrap;
}

.tooltip-info h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 12px;
  padding: 5px 0;
  position: relative;
  text-align: left;
}

.show-info:hover .tooltip-info {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.sb-overlay {
  background: #000;
  cursor: zoom-out;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 20;
}

.sb-overlay, .resize-carousel-holder, .control-panel {
  transition: all 300ms linear;
}

.vis-overlay {
  opacity: 0.5;
  visibility: visible;
}

.hid-sidebar {
  bottom: 0;
  display: none;
  opacity: 1;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 90px;
  width: 100%;
  z-index: 22;
}

.vissb {
  display: block;
}

.small-container {
  max-width: 800px;
}

.sidebar-wrap {
  float: left;
  margin-bottom: 50px;
  padding: 50px 40px;
  position: relative;
  width: 100%;
}

.sb-inner {
  float: left;
  opacity: 0;
  position: relative;
  transition: all 300ms linear;
  visibility: hidden;
  width: 100%;
}

.sb-innervis {
  opacity: 1;
  visibility: visible;
}

.sb-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.scale-callback {
  float: left;
  height: 25%;
  position: relative;
  width: 33.33333%;
  z-index: 5;
}

.scale-callback:before {
  background: #fff;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 400ms cubic-bezier(0.215, .61, .355, 1);
  width: 0;
}

.scale-bg5:before {
  width: 100%;
}

.hid-sidebar h4, .details-container h3, .details-container h4 {
  color: #000;
  float: left;
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.hid-sidebar p, .details-container p {
  font-size: 11px;
}

.hid-sidebar h4 {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  font-weight: 900;
}

.hid-sidebar .separator {
  background: #000;
  float: left;
  height: 4px;
  margin: 20px 0 20px;
  position: relative;
  width: 50px;
}

.pd-holder {
  float: left;
  margin-top: 5px;
  width: 100%;
}

.pd-holder h5 {
  color: #999;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 12px;
  position: relative;
  text-transform: uppercase;
}

.pd-holder h5 a {
  font-style: italic;
  opacity: 0.8;
  padding-left: 3px;
}

.project-details {
  float: left;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: left;
  width: 100%;
}

.project-details li {
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.content-nav {
  border-top: 1px solid #eee;
  float: left;
  margin-top: 40px;
  padding: 40px 0 0;
  position: relative;
  width: 100%;
}

.content-nav:before {
  background: #000;
  border-radius: 100%;
  content: '';
  height: 8px;
  position: absolute;
  right: 0;
  top: -4px;
  width: 8px;
}

.content-nav ul {
  left: 0;
  position: relative;
}

.content-nav li {
  float: left;
  width: 50%
}

.close-sidebar {
  cursor: pointer;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -10px;
  transform: rotate(45deg);
  transition: all 400ms linear;
  width: 20px;
  z-index: 20;
}

.close-sidebar:hover {
  opacity: 0.8;
  transform: rotate(225deg);
}

.close-sidebar:before, .close-sidebar:after {
  background: #000;
  content: '';
  position: absolute;
}

.close-sidebar:before {
  height: 100%;
  left: 50%;
  top: 1px;
  width: 1px;
}

.close-sidebar:after {
  height: 1px;
  left: 1px;
  top: 50%;
  width: 100%;
}

.full-screen-gallery-holder {
  float: left;
  position: relative;
  width: 100%;
}

.full-screen-item {
  position: relative;
}

.fix-con-panel a.vd {
  margin-left: 0;
}

.fix-con-panel a.vd:before {
  display: none;
}

/* --------- Skills --------------------------------------*/
.piechart-holder, .custom-skillbar-holder {
  float: left;
  padding-top: 50px;
  position: relative;
  width: 100%;
}

.piechart-holder h4 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.chart {
  border-radius: 100%;
  display: inline-block;
  height: 150px;
  margin-bottom: 26px;
  position: relative;
  text-align: center;
  width: 150px;
}

.chart canvas {
  left: 0;
  position: absolute;
  top: 0;
}

.piechart {
  padding-bottom: 20px;
  position: relative;
}

.percent {
  display: inline-block;
  font-size: 21px;
  line-height: 152px;
  z-index: 2;
}

.percent:after {
  content: '%';
  font-size: .8em;
  margin-left: 0.1em;
}

.drk-ch .percent {
  color: #666;
}

.angular {
  margin-top: 100px;
}

.angular .chart {
  margin-top: 0;
}

.skills-description {
  color: #fff;
  float: left;
  font-size: 12px;
  margin: 10px 0;
  text-transform: uppercase;
  width: 100%;
}

.skill-name {
  color: #000;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 4px;
  opacity: 0.3;
  position: absolute;
  text-transform: uppercase;
  top: 40%;
}

.skill-name span {
  opacity: 0.3;
}

.skill-name-lanim {
  left: 0;
}

.skill-name-ranim {
  right: 0;
}

.skillbar-box {
  float: left;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}

.skillbar-bg {
  background: #eee;
  display: block;
  float: left;
  height: 3px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.custom-skillbar-title span {
  float: left;
  font-size: 12px;
  margin-top: 12px;
  padding-bottom: 6px;
}

.custom-skillbar {
  background: #000;
  height: 3px;
  width: 0px;
}

.skill-bar-percent {
  float: right;
  font-size: 16px;
  margin-top: 13px;
  padding-bottom: 6px;
}

.clients-list {
  float: left;
  width: 100%;
}

.clients-list a {
  float: left;
  padding: 10px 10px 10px 0;
  width: 20%;
}

.clients-list a:hover {
  opacity: 0.6;
}

.clients-list a img {
  float: left;
  height: auto;
  width: 100%;
}

/*------ Team  ------------------------------------------------*/
.team-holder {
  float: left;
  width: 100%;
}

.team-holder li {
  float: left;
  padding: 40px 40px 40px 0;
  width: 33.3333%;
}

.team-box {
  float: left;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.team-info {
  float: left;
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.team-info h3 {
  font-size: 19px;
  padding-bottom: 4px;
}

.team-info h4 {
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  font-weight: 300;
}

.team-box:before, .team-box:after {
  background: #000;
  bottom: 0;
  content: '';
  position: absolute;
  right: 0;
}

.team-box:before {
  height: 2px;
  width: 0;
}

.team-box:after {
  height: 0;
  width: 2px;
}

.team-box:hover:before {
  width: 50px;
}

.team-box:hover:after {
  height: 50px;
}

.team-photo {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.team-box .overlay {
  background: #000;
  opacity: 0;
  transition: all 300ms linear;
  z-index: 2;
}

.team-box:hover .overlay {
  opacity: 0.5;
}

.team-social {
  display: none;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 3;
}

.team-social li {
  display: inline-block !important;
  float: none !important;
  padding: 6px;
  width: auto !important;
}

.team-social li a {
  color: #fff;
  font-size: 16px;
  opacity: 0;
  position: relative;
  top: 50px;
}

.testimon-slider h3 {
  font-size: 26px;
  font-weight: 200;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.testimon-slider .item {
  cursor: e-resize;
}

.testimon-slider a.text-link {
  color: #fff;
  float: left;
  margin-top: 20px;
}

.testimon-slider a.text-link:before {
  background: #fff;
}

.custom-inner-holder {
  float: left;
  margin-top: 60px;
  width: 100%;
}

.custom-inner {
  float: left;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}

.custom-inner h3 {
  float: left;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.custom-inner h4 {
  float: left;
  font-weight: 800;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.custom-inner-dec {
  background: #eee;
  float: left;
  height: 1px;
  margin-top: 10px;
  width: 100%;
}

.custom-inner ul {
  float: left;
  list-style: decimal;
  padding: 10px 0 10px 13px;
  width: 100%;
}

.custom-inner ul li {
  float: left;
  padding: 5px 0 5px 10px;
  text-align: left;
  width: 100%;
}

.custom-inner .content-nav ul {
  left: 0;
  list-style: none;
  padding: 0;
  position: relative;
}

.custom-inner .content-nav ul li {
  float: left;
  padding: 0;
  width: 50%;

}

.custom-inner .btn {
  margin-top: 20px;
}

.testimon-slider-holder {
  float: left;
  position: relative;
  width: 100%;
}

.testimon-slider-holder .customNavigation {
  float: left;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

.testimon-slider-holder .customNavigation a {
  background: none;
  float: left;
  font-size: 22px;
  height: auto;
  left: 0 !important;
  margin-right: 16px;
  position: relative;
  top: 0;
  width: auto;
}

/*------ map - ------------------------------------------------*/
.map-box {
  float: left;
  height: 400px;
  margin: 40px 0;
  position: relative;
  width: 100%;
}

#map-canvas {
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*------ Contact  ------------------------------------------------*/
.contact-details {
  float: left;
  padding-top: 30px;
  text-align: left;
  width: 100%;
}

.contact-details h4 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact-details ul {
  padding-bottom: 20px;
}

.contact-details ul li a {
  float: left;
  font-size: 13px;
  padding: 2px 0;
  width: 100%;
}

.contact-details ul li a:hover {
  text-decoration: underline;
}

.contact-form-holder {
  float: left;
  margin-top: 50px;
  width: 100%;
}

#contact-form, #comment-form {
  float: left;
  margin-top: 30px;
  width: 100%;
}

#contact-form input[type="text"], #contact-form textarea, #comment-form input[type="text"], #comment-form textarea {
  -webkit-appearance: none;
  background: none;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  color: #999;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 8px;
  position: relative;
  width: 100%;
  z-index: 20;
}

#contact-form textarea, #comment-form textarea {
  background: none;
  box-shadow: none;
  height: 170px;
  overflow: auto;
  overflow: auto;
  resize: none;
}

#submit, .form-submit button {
  -webkit-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  float: left;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 17px;
  padding: 15px 30px 15px 30px;
  transition: all 200ms linear;
}

#submit:hover {
  color: #ccc;
}

#submit i, .to-top i, footer.fixed-footer .footer-social li a, .clients-list a {
  transition: all 200ms linear;
}

#submit:hover i {
  color: #000;
}

.verify-wrap {
  float: left;
  margin: 15px 0;
  width: 100%;
}

.verify-text {
  float: left;
  margin-right: 20px;
  text-align: left;
  width: 100%;
}

#contact-form input#verify[type="text"] {
  float: left;
  width: 70px !important;
}

.error_message {
  color: #933;
  font-size: 12px;
  max-width: 450px;
  padding: 10px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

#success_page h3 {
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
}

#success_page p {
  color: #000;
  margin-top: 5px;
  padding: 6px 6px 6px 0;
  text-align: left;
}

#success_page p strong {
  font-weight: bold;
}

#message fieldset {
  border: none;
}

/*------ facts  ------------------------------------------------*/
.sect-subtitle {
  bottom: 10%;
  color: rgba(0, 0, 0, 0.21);
  font-size: 185px;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

.sect-subtitle:before {
  background: rgba(0, 0, 0, 0.21);
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  width: 150px;
}

.sect-subtitle:after {
  background: #000;
  border-radius: 100%;
  content: '';
  height: 6px;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  width: 6px;
}

.dark-bg .sect-subtitle {
  color: rgba(255, 255, 255, 0.21);
}

.dark-bg .sect-subtitle:after {
  background: #fff;
}

.left-align-dec {
  left: 20%;
}

.right-align-dec {
  right: 10%;
}

.right-align-dec:before {
  right: 50%;
}

.left-align-dec:before {
  left: 50%;
}

.dark-bg .sect-subtitle:before {
  background: rgba(255, 255, 255, 0.351);
}

.inline-facts h6 {
  color: #fff;
  float: right;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.num {
  color: #fff;
  float: right;
  font-size: 82px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

/*------ process ------------------------------------------------*/
.process-box {
  float: left;
  margin-top: 60px;
  padding: 50px 0;
  position: relative;
  width: 100%;
}

.process-box:before {
  background: #000;
  content: '';
  height: 8px;
  left: 0;
  position: absolute;
  top: -20px;
  width: 80px;
}

.process-box h3, .bold-title {
  float: left;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 30px;
  text-align: left;
  width: 100%;
}

.creat-list {
  float: left;
  margin: 10px 0;
  width: 100%;
}

.creat-list li {
  float: left;
  margin-right: 10px;
}

.creat-list li a, .text-link {
  color: #292929;
  font-family: $poppins;
  font-size: 14px;
  font-weight: $medium;
  line-height: 16px;
  padding-left: 63px;
  position: relative;
}

.creat-list li a:before, .text-link:before {
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  transition: all 200ms linear;
  width: 40px;

}

.creat-list li a:hover:before, .text-link:hover:before {
  transform: rotate(45deg);
}

/* ------blog------------------------------------------------------------ */
.blg-nav {
  margin-bottom: 20px;
  margin-top: -20px;
}

.waimg {
  float: left;
  margin-bottom: 20px;
}

article {
  border-bottom: 1px solid #eee;
  float: left;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

article .btn {
  float: left;
}

article .section-title {
  margin-bottom: 15px;
}

.post-author {
  border-bottom: 1px solid #eee;
  float: left;
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 20px 0;
}

.author-img {
  float: left;
  width: 15%;
}

.author-content {
  float: left;
  padding-left: 10px;
  width: 85%;
}

.author-img img {
  border-radius: 100%;
  float: left;
}

.author-content h5 {
  color: #000;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.author-content p {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}

.widget {
  border-bottom: 1px solid #000;
  float: left;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-align: left;
  width: 100%;
}

.widget h3 {
  color: #000;
  float: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.widget-posts li {
  padding: 12px 0;
}

.widget-posts-img {
  float: left;
  width: 30%;
}

.widget-comments-img img {
  border-radius: 100%;
}

.widget-posts-descr {
  float: left;
  padding-left: 10px;
  width: 70%;
}

.widget-posts-descr a {
  color: #000;
  font-size: 10px;
  letter-spacing: 3px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.widget-posts-date {
  color: #999;
  float: left;
  font-size: 9px;
  margin-top: 10px;
  width: 100%;
}

.searh-holder {
  margin-top: 20px;
  max-width: 450px;
  position: relative;
}

.searh-inner {
  float: left;
  position: relative;
  width: 100%;
}

.search {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .07);
  border-radius: 0;
  color: #000;
  float: left;
  height: 40px;
  outline: none;
  padding: 0px 0px 0px 10px;
  position: relative;
  width: 100%;
}

.search-submit {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 28%;
}

.trnsp-search {
  background: rgba(255, 255, 255, 0.21);
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}

.trnsp_btn {
  border-radius: 0 6px 6px 0;
}

.trnsp_btn i {
  color: #fff !important;
}

.search-submit:hover i {
  opacity: 0.5;
}

.tagcloud li {
  float: left;
  margin-bottom: 4px;
}

.tagcloud li a {
  color: #000;
  float: left;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 2px;
  padding: 6px 10px 6px 0;
  text-transform: uppercase;
}

.tagcloud li a:hover {
  color: #ccc;
}

.cat-item {
  margin-bottom: 15px;
  padding-bottom: 8px;
}

.cat-item a {
  color: #000;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.lg-sub-html {
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.cat-item a, .tagcloud li a {
  font-size: 10px;
  transition: all 200ms linear;
}

.sinnle-post h2 {
  float: left;
  font-size: 32px;
  text-align: left;
  width: 100%;
}

.blog-text {
  float: left;
  margin-top: 10px;
  padding: 20px 0;
  width: 100%;
}

.blog-text .btn {
  margin-top: 15px;
}

.blog-text h3, .comments-holder h3, .comment-form-holder h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.blog-text h3 strong {
  font-weight: bold;
}

.blog-text {
  padding: 0;
  padding-bottom: 20px;
}

.blog-title a {
  color: #666;
}

.sinnle-post .blog-text {
  max-width: 900px;
}

.blog-media {
  float: left;
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.blog-text p {
  font-size: 12px;
  padding-top: 10px;
}

.pagination-blog {
  float: left;
  margin: 15px 0;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.pagination-blog ul {
  float: left;
  margin: 20px 0 30px;
}

.pagination-blog a {
  color: #666;
  float: left;
  font-size: 13px;
  letter-spacing: 1px;
  margin-right: 6px;
  padding: 12px 18px;
  position: relative;
  position: relative;

}

.pagination-blog a.current-page, .pagination-blog a:hover {
  color: #ccc;
}

.prevposts-link, .nextposts-link {
  height: 40px;
  padding: 0;
  padding: 0 10px;
  position: relative;
  width: 50px;
}

.prevposts-link:before, .nextposts-link:before {
  background: #000;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  transition: all 200ms linear;
  width: 100%;
}

.prevposts-link:hover:before, .nextposts-link:hover:before {
  transform: rotate(45deg);
}

.sidebar {
  float: left;
  padding: 0 0 0 30px;
  width: 100%;
}

.sinnle-post p {
  font-size: 16px;
}

.sinnle-post .blog-text h3 {
  margin-bottom: 30px;
}

.comments-holder {
  border-top: 1px solid #eee;
  float: left;
  margin-top: 30px;
  padding-top: 30px;
  position: relative;
  width: 100%;
}

.commentlist {
  border-bottom: 1px solid #eee;
  float: left;
  margin: 10px 0px;
  max-width: 900px;
  padding: 20px 0;
  text-align: left;
}

.comment-form-holder {
  float: left;
  margin-top: 30px;
  max-width: 800px;
}

#comments {
  max-width: 800px;
  padding-top: 10px;
  text-align: left;
}

#comments-title, #reply-title {
  border-bottom: 1px solid #eee;
  color: #666;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.comment {
  float: left;
}

.comment-body {
  margin-left: 70px;
  padding-top: 30px;
  position: relative;
}

.comment-author {
  left: -66px;
  position: absolute;
  top: 30px;
}

.comment-author img {
  border-radius: 100%;
}

.comment .children {
  margin-left: 70px;
}

.fn {
  display: block;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.comment-meta, .comment-meta a {
  color: #494949;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#respond {
  float: left;
  margin-top: 40px;
  width: 100%;
}

#reply-title {
  margin-bottom: 5px;
  padding-bottom: 30px;
}

#commentform {
  float: left;
  width: 100%;
}

.comment-notes {
  color: #a4a4a3;
  margin-top: 10px;
}

.control-group label {
  float: left;
  font-weight: 200;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 10px;
  position: relative;
  top: 25px;
}

.control-group .controls input {
  background: #fff;
  border: none;
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
  color: #a4a4a3;
  float: left;
  height: 35px;
  margin-top: 15px;
  max-width: 600px;
  outline: none;
  text-decoration: none;
}

.control-group .controls textarea {
  background: #fff;
  border: none;
  border-bottom: 2px solid #000;
  color: #a4a4a3;
  float: left;
  height: 180px;
  margin-top: 15px;
  max-width: 600px;
  outline: none;
  padding-left: 15px;
  padding-top: 15px;
  resize: vertical;
  text-decoration: none;
}

.controls button {
  -webkit-appearance: none;
  margin-top: 30px;
}

/*------ share------------------------------------------------*/
.show-share {
  border: 1px solid rgba(255, 255, 255, 0.41);
  color: rgba(255, 255, 255, 0.21);
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 50px;
  text-align: center !important;
  top: 19px;
  width: 40px;
  z-index: 21;
}

.show-share span {
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 600;
  left: -100%;
  letter-spacing: 1px;
  line-height: 1;
  margin-left: -15px;
  opacity: 0;
  position: absolute;
  text-decoration: line-through;
  text-transform: uppercase;
  top: -15px;
  transition: all 200ms linear;
  z-index: 2;
}

.show-share:hover span {
  opacity: 1;
  top: 15px;
}

.show-share.isShare {
  border: 1px solid rgba(255, 255, 255, 0.21);
  color: #fff;
}

.show-share.isShare span {
  text-decoration: none;
}

.share-inner {
  background: #000;
  height: 0;
  overflow: hidden;
  position: fixed;
  right: 30%;
  top: 60px;
  visibility: hidden;
  width: 70%;
  z-index: 20;
}

.hor-inner {
  right: 0;
  width: 100%;
}

.visshare {
  height: 80px;
  visibility: visible;
}

.share-container {
  float: right;
  height: 100%;
  line-height: 100px;
  opacity: 0;
  padding-right: 30px;
  position: relative;
}

.share-inner, .share-container, .show-share {
  transition: all 400ms linear;
}

.vissc {
  opacity: 1;
}

.share-icon {
  color: #fff;
  float: left;
  margin-right: 20px;
  position: relative;
}

.share-icon:hover {
  text-decoration: line-through;
}

.share-icon:before {
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  transition: all 100ms linear;
  z-index: 2;
}

.share-icon-digg:before {
  content: "digg";
}

.share-icon-email:before {
  content: "email";
}

.share-icon-flickr:before {
  content: "flickr";
}

.share-icon-foursquare:before {
  content: "foursquare";
}

.share-icon-rss:before {
  content: "rss";
}

.share-icon-facebook:before {
  content: "facebook";
}

.share-icon-twitter:before {
  content: "twitter";
}

.share-icon-tumblr:before {
  content: "tumblr";
}

.share-icon-linkedin:before {
  content: "linkedin";
}

.share-icon-vimeo:before {
  content: "vimeo";
}

.share-icon-instagram:before {
  content: "instagram";
}

.share-icon-pinterest:before {
  content: "pinterest";
}

.share-icon-googleplus:before {
  content: "googleplus";
}

.share-icon-in1:before {
  content: "in1";
}

.share-icon-stumbleupon:before {
  content: "stumbleupon";
}

.transition {
  transition: all 500ms linear;
}

.transition2 {
  transition: all 200ms linear;
}

.fl-l {
  float: left;
}

.nav-button-holder {
  display: none;
}

.hid-gal {
  overflow: hidden;
}