/*-------------------------------------------------------------------
	Colors
-------------------------------------------------------------------*/
$darkerblue: #13192d;
$darkblue: #001f60;
$white: #fff;
$black: #000;
$beige: #c89c67;
$lightgrey: #f7f7f7;
$grey:#b5b5b5;
$othergrey:#ededed;
$transparentwhite: rgba(255, 255, 255, 0.21);

/*-------------------------------------------------------------------
	Fonts
-------------------------------------------------------------------*/
$poppins: 'Poppins', sans-serif;

/*-------------------------------------------------------------------
	Font-weight
-------------------------------------------------------------------*/
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

/*-------------------------------------------------------------------
	Font-size
-------------------------------------------------------------------*/
$h2: 48px;
$h3: 32px;
$h4: 23px;
$h5: 14px;
$p: 16px;

/*-------------------------------------------------------------------
	Line-height
-------------------------------------------------------------------*/
$lh-h2: 57px;
$lh-h3: 27px;
$lh-p: 21px;