/*------  Responsive ------------------------------------------------------*/
@media only screen and (max-width: 1356px) {
  header {
    width: 95%;
  }
  .share-inner {
    right: 10%;
    width: 90%;
  }
  .creat-list li a {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 1036px) {
  #wrapper
  {
    margin-top: 80px;
  }
  .content-holder {
    height: calc(100% - 80px);
  }
  .page-template-template-contact .contact-form .sidebar-img img {
    max-width: 100%;
  }
  nav ul li:last-child
  {
    display: block;
  }
  .hid-gal {
    overflow: auto;
  }
  .mob-bg {
    display: block;
  }
  header {
    width: 100%;
  }
  .nav-button-holder {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .show-share {
    right: 30px;
  }
  .nav-button {
    border: 1px solid rgba(255, 255, 255, 0.21);
    cursor: pointer;
    float: right;
    height: 40px;
    margin-top: 9px;
    padding: 13px 6px 6px 6px;
    position: relative;
    width: 40px;
  }
  .nav-button span {
    background: #fff;
    float: left;
    height: 2px;
    margin-bottom: 4px;
    position: relative;
    width: 100%;
  }
  .share-inner {
    right: 0;
    width: 100%;
  }
  .content-holder {
    padding: 0;
  }
  .header-inner {
    float: left;
    padding-left: 30px;
  }
  .inline-facts-holder:before, .show-share span, .fixed-footer, .sect-subtitle, .content:before, .content-footer:before, nav ul li ul:before, nav li a.act-link:before, .control-panel, .close-sidebar, .fix-con-panel, .nicescroll-rails {
    display: none;
  }
  .height-emulator {
    height: 0 !important;
  }
  .particular {
    display: none !important;
  }
  .parallax-box {
    left: 0;
    padding-top: 20px;
    position: relative;
  }
  .parallax-box.r-align {
    left: 0;
  }
  .parallax-box img {
    opacity: 1;
  }
  .parallax-item {
    margin-bottom: 40px;
  }
  .parallax-deck {
    bottom: 0;
    float: left;
    padding: 0;
    position: relative !important;
    width: 100%;
  }
  .left-direction .parallax-deck {
    right: 0;
  }
  .right-direction .parallax-deck {
    left: 0;
  }
  .parallax-deck-item {
    float: left;
    max-width: 100%;
  }
  .paralax-wrap {
    float: left;
    opacity: 1;
    padding-top: 30px;
    width: 100%;
  }
  .parallax-deck h3 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .algn-right {
    text-align: left;
  }
  .inline-facts h6 {
    float: none;
    font-size: 16px;
    text-align: center;
  }
  .num, .inline-facts h6 {
    float: left;
    text-align: left;
  }
  .nav-button-holder {
    display: block;
  }
  .nav-holder {
    background: $darkerblue;
    display: none;
    height: 400px;
    left: 0;
    overflow: auto;
    padding: 30px 0 30px 30px;
    position: absolute;
    top: 79px;
    width: 100%;
  }
  nav ul li, nav ul li ul li, nav li ul li > ul {
    float: left;
    left: 0;
    opacity: 1;
    padding: 20px 0px;
    right: 0;
    text-align: left;
    width: 100%;
  }
  nav li ul {
    display: none;
    left: 0;
    margin: 0;
    opacity: 1;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 20px;
    position: relative;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;
  }
  nav li a, nav li ul li a {
    padding: 0;
    width: auto;
  }
  nav li ul li:before {
    background: rgba(255, 255, 255, 0.51);
    content: '';
    height: 1px;
    left: -4px;
    position: absolute;
    top: 50%;
    width: 10px;
  }
  nav li ul li a {
    color: rgba(255, 255, 255, 0.81);
    padding: 3px 15px;
  }
  nav li ul li ul {
    display: none;
    left: 0;
    margin: 0;
    opacity: 1;
    padding-bottom: 0;
    padding-left: 30px;
    padding-top: 5px;
    position: relative;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;

  }
  nav li:hover > ul, nav li ul li:hover > ul {
    display: block;
    left: 0;
  }
  nav li ul li:hover ul {
    display: block;
  }
  nav li a.act-link {
    opacity: 0.5
  }
  .content-footer {
    float: left;
    padding: 50px 0;
    position: relative;
  }
  .gallery-item {
    width: 50% !important;
  }

  .colum-w {
    padding-top: 0 !important
  }
  .custom-inner-holder .col-md-6 h3 {
    float: left;
    padding-bottom: 15px;
    text-align: left;
    width: 100%;
  }
  .footer-item {
    margin-bottom: 15px;
  }
  .contact-details h4 {
    float: left;
    margin-top: 20px;
    width: 100%;
  }
  .sidebar {
    padding-left: 0;
  }
  .hid-sidebar {
    background: #fff;
    display: block;
    float: left;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .horizontal_item img {
    height: auto !important;
    margin-bottom: 10px;
    width: 100%;
  }
  .sb-inner {
    opacity: 1;
    visibility: visible;
  }
  .sidebar-wrap {
    float: left;
    margin-bottom: 0;
    padding: 50px 0;
    position: relative;
    width: 100%;
  }
  .ogm {
    background: #fff;
    height: auto !important;
    padding: 0 6px;
  }
  .ogm .customNavigation {
    display: none;
  }
  .gallery_horizontal {
    padding-top: 6px;
  }
  .flow-gallery .horizontal_item {
    opacity: 1;
    transform: scale(1.0);
  }
  section {
    padding: 80px 0;
  }
  .parallax-section {
    padding: 210px 0 150px;
  }
  .parallax-inner .bg {
    height: 100%;
    top: 0;
  }
  .smp {
    padding-left: 6px;
    padding-right: 6px;
  }

}

@media only screen and (max-width: 778px) {
  #portfolio_horizontal_container, .resize-carousel-holder {
    height: auto !important;
  }

  #portfolio_horizontal_container {
    padding-bottom: 60px;
  }
  #portfolio_horizontal_container .portfolio_item {
    height: auto !important;
    padding: 3px 6px;
    width: 100% !important;


  }
  .p_horizontal_wrap {
    -webkit-overflow-scrolling: touch;
  }

  #portfolio_horizontal_container .portfolio_item img {
    height: auto !important;
    width: 100% !important;
  }
  .hpw, .p_horizontal_wrap, .resize-carousel-holder {
    padding: 0;
  }
  .resize-carousel-holder {
    background: #fff;
  }
  .team-holder li {
    float: left;
    width: 50%;
  }
  .team-social li a {
    padding: 6px;
  }
  .port-desc-holder:before {
    bottom: 3px;
    left: 3px;
    right: 5px;
    top: 0;
  }
  .round-filter {
    bottom: 5px;
    left: 6px;
    right: 6px;
    width: auto;
  }
  .round-filter:before {
    display: none;
  }
  .gallery-filters a {
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
  }
  .inline-filter .count-folio {
    float: left;
    margin-top: 30px;
    width: 100%;
  }
  .inline-filter .count-folio div {
    float: left;
  }
  .inline-filter {
    padding-bottom: 20px;
  }
  .mob-pa {
    padding: 0 5px 60px;
  }
  .ver-filter {
    bottom: 0;
    left: 2px;
    right: 2px;
  }
  .gallery-item {
    left: 0 !important;
    width: 100% !important;
  }
  .smp {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 991px) {
  .module-video-thumbnail, .numbers-title {
    margin-bottom: 20px;
  }

  .stats span {
    float: left;
    text-align: left;
  }

  .milestone-counter {
    height: 0;
    text-align: left;
  }

  .inline-facts:nth-child(1),.inline-facts:nth-child(2)
  {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 640px) {
  h2 {
    font-size: 40px;
    line-height: 46px;
  }
  h3 {
    font-size: 26px;
    line-height: 30px;
  }
  h4 {
    font-size: 23px;
    line-height: 26px;
  }
  .num,.stats span {
    font-size: 42px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
  }
  .page-title h2 {
    font-size: 40px;
    text-align: center;
  }
  .team-holder li {
    float: left;
    padding: 20px 0;
    width: 100%;
  }
  .grid-small-pad .grid-item-holder, .grid-big-pad .grid-item-holder {
    padding: 3px 0 !important;
  }
  .fixed-filter a {
    width: auto !important;
  }
  .gallery-filters a:before {
    height: 1px;
    width: 0;
  }
  .gallery-filters a.gallery-filter-active:before {
    width: 40px;
  }
  .smp {
    padding-left: 6px;
    padding-right: 6px;
  }
  .serv-item {
    width: 100%;
  }
  .clients-list a {
    width: 50%;
  }
  .section-title, .page-title h2, .sect-subtitle {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .layoutArea .column
  {
    margin-bottom: 0;
  }
  .parallax-deck-item h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .hero-wrap-item h2 {
    font-size: 28px;
  }
  .hero-wrap-item h3, .hero-wrap-item h3 a {
    letter-spacing: 8px;
  }
  .customNavigation.fhsln a.next-slide {
    right: 0;
    top: 90%;
  }
  .customNavigation.fhsln a.prev-slide {
    left: 0;
    top: 90%;
  }
  p {
    font-size: 14px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .bg {
    background-attachment: scroll !important;
    background-position: center;
    -webkit-background-size: cover;
  }
}
